$main-color-f1: #ff80ff;

body {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
}

img.full-width {
    width: 100%;
}

.bg-1 {
    background: url("../images/Homepage/3_20201229_160051_0002.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-2 {
    background-image: url("../images/Homepage/20201229_152728_0000.png");
    height: 400px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-container {
    margin: 20px auto;
    max-width: 400px;
    padding: 5px 0;
    border-left: 2px solid #333;
    display: flex;
    justify-content: space-around;
    ul.provinces {
        li {
            color: $main-color-f1;
            font-size: 1.3em;
            a {
                color: $main-color-f1;
                text-decoration: none;
                text-transform: capitalize;
            }
        }
    }
}
.container {
    margin: 10px 10px;
}
.top-info {
    margin: 5px auto 20px auto;
    display: flex;
    justify-content: center;
    font-size: 1.3em;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    .pink {
        color: $main-color-f1;
        text-transform: capitalize;
        text-align: right;
        margin-right: 5px;
    }
    .black {
        color: #333;
        text-align: left;
    }
}

.info {
    display: flex;
    max-width: 600px;
    margin: 0 auto;
    .header {
        color: $main-color-f1;
        text-transform: capitalize;
        font-size: 1.3em;
    }
    .text {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
            "Helvetica Neue", sans-serif;
        color: #333;
        font-size: 1em;
        word-wrap: break-word;
    }
    > div {
        margin: 0 5px;
    }
    > div > div {
        margin-bottom: 20px;
        .images {
            display: flex;
            .img {
                flex: 1;
                margin-right: 3px;
                max-height: 70px;
                overflow-y: hidden;
                img {
                    width: 100%;
                }
            }
        }
    }
    .left {
        flex: 1;
        .festival {
            .content {
                display: flex;
                align-items: flex-end;
                .img {
                    flex: 1.5;
                    margin-right: 5px;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
                .text {
                    flex: 2;
                }
            }
        }
    }
    .right {
        flex: 1;
    }
}

footer {
    margin-top: 100px;
    text-align: center;
    a {
        display: block;
        color: $main-color-f1;
        background: none;
        font-size: 1.2em;
        text-decoration: none;
        padding: 20px;
        transition: 0.2s;
        &:hover {
            background: $main-color-f1;
            color: #fff;
        }
    }
    .text {
        padding: 40px;
        font-weight: bold;
        display: block;
        color: #fff;
        background: $main-color-f1;
    }
}
